* {
    font-family: 'Roboto', sans-serif;
    ;
}

.eventPop__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}

.event__popup {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 420px;
    height: 80%;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 99;
    display: block;
    top: 90px;
    left: 80px;
    padding: 15px;

    font-size: 75%;
}

.datetimepicker-header.is-date-only {
    display: none;
}