* {
    font-family: 'Roboto', sans-serif;

}
body{
    position: relative;
}

.eventPop__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}

.event__popup {
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 446px;
    height: 80%;

    background-color: #ffffff;
    z-index: 99;
    display: block;
    top: 9px;
    left: 80px;
    max-height: 620px;


    font-size: 75%;
}

.popup_wrapper{
    position: relative;
    padding:33px 15px 15px 15px;
height:100%;
    overflow-y: auto;
}
#dragger{
    cursor: move;
    background: #e3e2e2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 99;
}
.icon.left{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.column.is-one-fifth{
    width: 10%;
}
.select,.select select{
    width: 100%;
}
.event__contextMenu{
    position: absolute;
    z-index: 9;
    top: 50px;
    left:50px;
    width:150px;
    height: 150px;
    display: none;
}

.menu__link{
    display: block;
    background: none;
    border: 0px;
    outline: 0px;
    color: #35a7de;
    font-size: 20px;
    pointer-events: all;
    cursor: pointer;
}

.contextMenu__wrapper{
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    display: none;

}
.fc-dayGridMonth-view .fc-theme-standard td, .fc-theme-standard th{
    border: none !important;
}
th.fc-col-header-cell,td.fc-daygrid-day{
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}
th.fc-col-header-cell a.fc-col-header-cell-cushion{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
     color: #70757a;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
}
td.fc-daygrid-day{
    border-bottom: 1px solid #ddd !important;
}
.fc-daygrid-day-top{
    display: flex;
    justify-content: center;
}
.fc-daygrid-day-top .fc-daygrid-day-number{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: max-content;
    min-width: 24px;
    color: #70757a;
    line-height: 16px;

}
.fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number{
    margin-top: 3px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background-color: #1a73e8;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: #ffffff;
}
button.fc-button-primary{

    color: #fff;
    background-color: #1a73e8 !important;
    border: 0px !important;
    font-size: 15px !important;
}
.fc-h-event{
    background-color: #1a73e8 !important;
    font-size: 14px !important;
}
.fc{
    font-size: 15px;
}

